nb-list-item {
  padding: 0.5rem;
  margin: 0 !important;
  display: flex;
  align-items: center !important;
  justify-content: space-between;
}

.dl-btn {
  margin-right: 6.5px;
  cursor: pointer;
  color: inherit;
}

:host #goto-top-btn {
  position: fixed; /* Fixed/sticky position */
  bottom: 30px; /* Place the button at the bottom of the page */
  right: 45px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
}

:host #goto-top-btn:focus {
  box-shadow: none !important;
}

// JSON Editor

#result-json-viewer {
  margin: 0;
  padding: 0;
  background-color: #fff !important;
  box-shadow: 0 0.5px 2px 0.5px #000;
}

:host ::ng-deep json-editor,
:host ::ng-deep json-editor .jsoneditor,
:host ::ng-deep json-editor > div,
:host ::ng-deep json-editor jsoneditor-outer {
  height: 600px;
}

:host ::ng-deep json-editor jsoneditor-text {
  min-height: 600px;
}
