@import "./themes";

@mixin nb-overrides() {
  nb-select.size-medium button {
    padding: 0.4375rem 2.2rem 0.4375rem 1.125rem !important;

    nb-icon {
      right: 0.41rem !important;
    }
  }

  nb-card {
    border: 0 solid transparent;
    box-shadow: nb-theme(card-box-shadow);
  }

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  .text-json {
    font-size: smaller;
    color: nb-theme(text-basic-color);
  }

  .cursor-pointer {
    cursor: pointer !important;
  }

  // alerts

  nb-alert {
    width: fit-content;
    display: inline-block !important;
    font-size: smaller;
    padding: 0.6rem;
  }

  nb-alert span {
    margin: 0 3px;
  }

  // inserting intelowl's logo into the login page.

  nb-auth-block {
    background: url("/assets/intel_owl-logo.png") no-repeat scroll !important;
    background-size: 120px !important;
  }

  // removing back arrow, register & forgot password links from Login Page

  nav.navigation a.back-link[aria-label="Back"] {
    display: none !important;
  }

  * a.forgot-password {
    display: none !important;
  }

  section.another-action[aria-label="Register"] a.text-link {
    display: none !important;
  }

  section.another-action[aria-label="Register"]::after {
    color: #8f9bb3 !important;
    content: "Contact the admin for access." !important;
  }
}
