@import "./themes";

@mixin nb-overrides() {
  nb-select.size-medium button {
    padding: 0.4375rem 2.2rem 0.4375rem 1.125rem !important;

    nb-icon {
      right: 0.41rem !important;
    }
  }

  nb-card {
    border: 0 solid transparent;
    box-shadow: nb-theme(card-box-shadow);
  }

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  .text-json {
    font-size: smaller;
    color: nb-theme(text-basic-color);
  }

  .cursor-pointer {
    cursor: pointer !important;
  }

  // alerts

  .caption {
    margin-top: 0.5rem;
  }

  nb-alert {
    width: fit-content;
    display: inline-block;
    font-size: smaller;
    padding: 0.6rem;
  }

  nb-alert span {
    margin: 0 3px;
  }
}
