<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" class="sidebar-toggle" href="#">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a (click)="navigateHome()" class="logo" href="#">
      <img
        *ngIf="isDarkTheme"
        src="../../../../assets/intel_owl.png"
        alt="Intel Owl logo"
      />
      <img
        *ngIf="!isDarkTheme"
        src="../../../../assets/intel_owl-black.png"
        alt="Intel Owl logo"
      />
    </a>
  </div>
</div>

<div class="header-container">
  <nb-actions size="small">
    <!-- Theme Switcher -->
    <nb-action class="d-flex align-items-center">
      <nb-icon icon="sun-outline" size="tiny"></nb-icon>
      <nb-toggle
        class="mx-2"
        (checkedChange)="changeTheme($event)"
        [(checked)]="isDarkTheme"
      ></nb-toggle>
      <nb-icon icon="moon-outline" size="tiny"></nb-icon>
    </nb-action>
    <!-- User actions -->
    <nb-action class="user-action" *ngIf="userService.user$ | async as user">
      <nb-user
        class="cursor-pointer"
        [name]="user"
        [nbContextMenu]="userMenu"
        nbContextMenuTag="user"
      >
      </nb-user>
    </nb-action>
  </nb-actions>
</div>
