@import "~bootstrap/scss/mixins/breakpoints";
@import "~@nebular/theme/styles/global/breakpoints";
@import "../../styles/themes";

@include nb-install-component() {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .logo-container {
    display: flex;
    align-items: center;
    width: calc(#{nb-theme(sidebar-width)} - #{nb-theme(header-padding)});
  }

  nb-action {
    height: auto;
    display: flex;
    align-content: center;
  }

  .header-container {
    display: flex;
    align-items: center;
    width: auto;

    .sidebar-toggle {
      padding-right: 1.25rem;
      text-decoration: none;
      color: nb-theme(text-hint-color);
      nb-icon {
        font-size: 1.75rem;
      }
    }

    .logo {
      padding: 0 1.25rem;
      font-size: 1.75rem;
      white-space: nowrap;
    }

    .logo img {
      width: 150px !important;
      height: auto !important;
    }
  }

  ::ng-deep .user-action {
    nb-user {
      .user-name {
        font-weight: bold;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    .logo-container {
      width: fit-content !important;
    }

    .header-container {
      .logo {
        padding: 0 0.3rem;
        font-size: 0.5rem;
      }

      .logo img {
        width: 90px !important;
        height: auto !important;
      }
    }
  }
}
