@import "../../../@theme/styles/themes";

@include nb-install-component() {

  // nb-list {
  //   margin-top: 0.2rem;
  //   overflow-x: hidden;
  //   width: 100%;
  // }

  nb-list-item {
    display: flex;
    padding: 0.5rem;
    align-items: center !important;
    align-content: center !important;
    justify-content: space-between;
    margin: 0 !important;
  }


  .status-cards nb-card-body {
    font-weight: bolder;
    font-size: larger;
    font-family: monospace;
  }

  pre {
    background-color: #14192f !important;
    color:#ecedef !important;
  }

}