<div ngForm="observableScanForm" #observableScanForm="ngForm">
  <intelowl-base-scan [scanForm]="observableScanForm" [formData]="formData">
    <nb-radio-group
      [(ngModel)]="formData.classification"
      (ngModelChange)="onObsClassificationChange()"
      class="d-flex justify-content-start"
      name="classifier"
    >
      <nb-radio value="ip">IP</nb-radio>
      <nb-radio value="url">URL</nb-radio>
      <nb-radio value="domain">Domain</nb-radio>
      <nb-radio value="hash">Hash</nb-radio>
      <nb-radio value="generic">Generic IoC</nb-radio>
    </nb-radio-group>

    <div class="form-group">
      <label class="label form-control-label"
        >Enter {{ formData.classification | ngxCapitalize }} To Scan</label
      >
      <input
        nbInput
        fullWidth
        [(ngModel)]="formData.observable_name"
        #value="ngModel"
        minlength="3"
        maxlength="512"
        name="value"
        [attr.placeholder]="obsPlaceholder"
        [pattern]="obsPattern"
        required="true"
        type="text"
      />
      <ng-container *ngIf="value.invalid && (value.dirty || value.touched)">
        <p class="caption status-danger" *ngIf="value.errors.required">
          {{ formData.classification }} is required.
        </p>
        <p class="caption status-danger" *ngIf="value.errors.minlength">
          {{ formData.classification }} must be at least 3 characters long.
        </p>
        <p class="caption status-danger" *ngIf="value.errors.pattern">
          Invalid {{ formData.classification }}
        </p>
      </ng-container>
    </div>
  </intelowl-base-scan>
</div>
