@import '../../../../@theme/styles/themes';

@include nb-install-component() {
  position: relative;
  display: block;
  overflow: hidden;

  nb-card {
    position: relative;
  }

  nb-card-header {
    border-bottom: none;
  }

  .subtitle {
    color: nb-theme(text-hint-color);
  }

  .json-background {
    background-color: #14192f !important;
    box-shadow: inherit;
    color: #ecedef !important;
  }

}