<div ngForm="observableScanForm" #observableScanForm="ngForm">
  <intelowl-base-scan [scanForm]="observableScanForm" [formData]="formData">

    <nb-radio-group [(ngModel)]="formData.observable_classification" class="d-flex justify-content-start"
      name="classifier">
      <nb-radio value="ip">IP</nb-radio>
      <nb-radio value="url">URL</nb-radio>
      <nb-radio value="domain">Domain</nb-radio>
      <nb-radio value="hash">Hash</nb-radio>
    </nb-radio-group>

    <div class="form-group">

      <label class="label form-control-label">Enter {{ formData.observable_classification | ngxCapitalize }} To
        Scan</label>
        <!-- Should use switch case maybe? -->
      <input nbInput fullWidth [(ngModel)]="formData.observable_name" #value=ngModel 
         minlength="4" name="value" placeholder="127.0.0.1"
         required="true" type="text">
      <div *ngIf="value.invalid && (value.dirty || value.touched)" class="alert alert-danger mt-3">
        <div *ngIf="value.errors.required">
          {{ formData.observable_classification }} is required.
        </div>
        <div *ngIf="value.errors.minlength">
          {{ formData.observable_classification }} must be at least 4 characters long.
        </div>
      </div>

    </div>

  </intelowl-base-scan>
</div>