:host ::ng-deep json-editor,
:host ::ng-deep json-editor .jsoneditor,
:host ::ng-deep json-editor > div,
:host ::ng-deep json-editor jsoneditor-outer {
  height: 300px;
  width: 750px;
}

:host ::ng-deep json-editor jsoneditor-text {
  min-height: 300px;
  width: 750px;
}

:host ::ng-deep json-editor {
  background-color: #fff !important;
}
