ngx-echarts-pie {
  display: block;
  width: 100%;
}

nb-card-header {
  display: flex;
  align-items: center !important;
  justify-content: space-between;
}

.cursor-pointer {
  cursor: pointer;
}

#sync-btn {
  margin-right: 10px;
  cursor: pointer;
}

.rotate {
  animation: rotate 1s ease-in-out 0s;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
