<div [@dashboardAnimation]="flashAnimBool">
  <h5>
    Intel Owl: Analyze files, domains, IPs in multiple ways from a single API at
    scale.
  </h5>

  <div class="row align-items-start">
    <!-- Chart 1 -->

    <div class="col-sm-3">
      <ngx-echarts-pie
        (onPieSelect)="filterJobsByField($event, 'status')"
        [pieChartName]="'Jobs by Status'"
        [pieChartData]="pieChartData['status']"
      ></ngx-echarts-pie>
    </div>

    <!-- Chart 2 -->

    <div class="col-sm-3">
      <ngx-echarts-pie
        (onPieSelect)="filterJobsByField($event, 'type')"
        [pieChartName]="'Jobs by Classification'"
        [pieChartData]="pieChartData['type']"
      ></ngx-echarts-pie>
    </div>

    <!-- Chart 3 -->

    <div class="col-sm-3">
      <ngx-echarts-pie
        (onPieSelect)="filterJobsByField($event, 'observable_classification')"
        [pieChartName]="'Jobs by Observable type'"
        [pieChartData]="pieChartData['observable_classification']"
      ></ngx-echarts-pie>
    </div>

    <!-- Chart 4-->

    <div class="col-sm-3">
      <ngx-echarts-pie
        (onPieSelect)="filterJobsByField($event, 'file_mimetype')"
        [pieChartName]="'Jobs by File mimetype'"
        [pieChartData]="pieChartData['file_mimetype']"
      ></ngx-echarts-pie>
    </div>
  </div>

  <nb-alert class="mr-3" status="info">
    <span><nb-icon icon="bulb-outline"></nb-icon></span>
    <span>Click on a pie-chart slice to filter jobs list</span>
  </nb-alert>

  <nb-alert class="mr-3" status="info">
    <span><nb-icon icon="bulb-outline"></nb-icon></span>
    <span>Click on a pie-chart legend to disable it</span>
  </nb-alert>

  <nb-alert status="info">
    <span><nb-icon icon="bulb-outline"></nb-icon></span>
    <span>Click on a tag in table to only show jobs with that tag</span>
  </nb-alert>

  <!-- Table -->

  <div class="row">
    <div class="col-sm-12">
      <nb-card fullWidth>
        <nb-card-header>
          <span>Jobs - count: {{ source.count() }}</span>
          <span *ngIf="filterEl !== null"
            ><strong>{{ filterField }}: {{ filterEl }}</strong></span
          >
          <span>
            <nb-icon
              id="sync-btn"
              [ngClass]="{ rotate: iconRotateBool }"
              (click)="iconRotateBool = true"
              nbTooltip="Sync with server"
              appDebounceClick
              (debounceClick)="debouncedSync()"
              icon="sync-outline"
            ></nb-icon>
            <nb-icon
              class="cursor-pointer"
              nbTooltip="Reset Filters"
              (click)="resetFilters()"
              icon="refresh-outline"
            ></nb-icon>
          </span>
        </nb-card-header>
        <nb-card-body>
          <ng2-smart-table [settings]="settings" [source]="source">
          </ng2-smart-table>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>
