<ng-container>
  <div class="row d-flex justify-content-center p-2">
    <nb-card style="max-width: 775px;">
      <nb-card-header class="d-flex align-items-start">
        <nb-toggle labelPosition="start" [(checked)]="formDebugBool"
          >Debug Form</nb-toggle
        >
        <nb-toggle
          class="ml-3"
          labelPosition="start"
          [(checked)]="showDescriptionBool"
          >Show Analyzers Descriptions</nb-toggle
        >
        <!-- Form -->
      </nb-card-header>
      <nb-card-body class="p-4">
        <div class="form form-horizontal">
          <div class="col-12">
            <!-- Form specific fields -->
            <ng-content></ng-content>
            <!-- /Form specific fields -->

            <!-- Analyzers select field -->
            <div class="form-group">
              <label class="label form-control-label">Select Analyzers</label>
              <nb-select
                *ngIf="analyzersList && formData.classification"
                fullWidth
                multiple
                [(selected)]="formData.analyzers_requested"
                name="analyzers"
                placeholder="Analyzers To Request"
              >
                <!-- Custom Label -->
                <nb-select-label>{{
                  formData.analyzers_requested
                }}</nb-select-label>
                <!-- Options Loop -->
                <nb-option
                  *ngFor="
                    let analyzer of analyzersList[formData.classification]
                  "
                  [value]="analyzer"
                >
                  <span>{{ analyzer }}</span>
                  &nbsp;
                  <span [hidden]="!showDescriptionBool"
                    ><small
                      >({{
                        analyzerService.rawAnalyzerConfig[analyzer]
                          ?.description
                      }})</small
                    ></span
                  >
                </nb-option>
              </nb-select>
              <ng-container *ngIf="!isNotError816()">
                <p class="caption status-danger">
                  either you specify a list of requested analyzers or the
                  'run_all_available_analyzers' parameter, not both.
                </p>
              </ng-container>
            </div>
            <!-- /Analyzers select field -->

            <div class="form-group">
              <button
                nbButton
                [disabled]="formData.run_all_available_analyzers"
                (click)="editConfigParams()"
                size="tiny"
                status="primary"
              >
                Custom Analyzers Configuration
              </button>
            </div>

            <!-- Additional Fields -->
            <label class="label form-control-label">Extra configuration</label>
            <div class="form-group">
              <nb-radio-group
                [(ngModel)]="formData.check_existing_or_force"
                class="d-flex justify-content-around"
                name="check-existing-or-force-new"
              >
                <nb-radio
                  nbTooltip="analysis won't be repeated if already exists as running or failed"
                  value="check_all"
                  >check existing analysis</nb-radio
                >
                <nb-radio
                  nbTooltip="analysis won't be repeated if already running"
                  value="running_only"
                  >check only running analysis</nb-radio
                >
                <nb-radio nbTooltip="force new analysis" value="force_new"
                  >force new analysis</nb-radio
                >
              </nb-radio-group>
            </div>

            <div class="form-group">
              <nb-checkbox
                class="col-md-6"
                [(ngModel)]="formData.force_privacy"
                name="force_privacy"
                >disable analyzers that could impact privacy
              </nb-checkbox>
              <nb-checkbox
                class="col-md-6"
                [(ngModel)]="formData.disable_external_analyzers"
                name="disable_external_analyzers"
                >disable analyzers that use external services
              </nb-checkbox>
            </div>

            <div class="form-group">
              <nb-checkbox
                class="col-md-6"
                [(ngModel)]="formData.private"
                name="private"
              >
                limit view permissions to my groups
              </nb-checkbox>
              <nb-checkbox
                class="col-md-6"
                [(ngModel)]="formData.run_all_available_analyzers"
                name="run_all_available_analyzers"
              >
                run all available analyzers
              </nb-checkbox>
            </div>
            <!-- /Additional Fields -->

            <!-- ngx-tagger/ Tag Selection Popover -->
            <div class="form-group">
              <label class="label form-control-label"
                >Select Tags To Apply</label
              >
              <ngx-tagger
                (onOpen)="isBtnDisabled = true"
                (onClose)="formData.tags_id = $event; isBtnDisabled = false"
              ></ngx-tagger>
            </div>
            <!--/ ngx-tagger/ Tag Selection Popover -->
          </div>
        </div>
      </nb-card-body>
      <nb-card-footer>
        <button
          nbButton
          status="primary"
          class="col-md-3"
          type="submit"
          [nbSpinner]="showSpinnerBool"
          nbSpinnerStatus="primary"
          (click)="onScanSubmit()"
          [disabled]="!isFormValid()"
        >
          Start Scan
        </button>
      </nb-card-footer>

      <!-- /Form -->
    </nb-card>

    <!-- Form JSON Debug -->
    <nb-card *ngIf="formDebugBool">
      <nb-card-body class="json-background">
        <pre class="text-white">{{ formData | json }}</pre>
      </nb-card-body>
    </nb-card>
    <!-- /Form JSON Debug -->
  </div>
</ng-container>
