<ng-container>
  <div class="row d-flex justify-content-center py-3">
    <nb-card class="col-sm-12 col-md-10 col-lg-6">
      <nb-card-header class="d-flex align-items-start">
        <nb-toggle labelPosition="start" [(checked)]="formDebugBool"
          >Debug Form</nb-toggle
        >
        <nb-toggle
          class="ml-3"
          labelPosition="start"
          [(checked)]="showDescriptionBool"
          >Show descriptions in dropdown</nb-toggle
        >
        <!-- Form -->
      </nb-card-header>
      <nb-card-body class="p-4">
        <div class="form form-horizontal">
          <div class="col-12">
            <!-- Form specific fields -->
            <ng-content></ng-content>
            <!-- /Form specific fields -->

            <!-- Analyzers select field -->
            <div class="form-group">
              <label class="label form-control-label"
                >Select Analyzers (Optional)</label
              >
              <nb-select
                *ngIf="analyzersList && formData.classification"
                fullWidth
                multiple
                [(selected)]="formData.analyzers_requested"
                name="analyzers"
                placeholder="Analyzers To Request"
              >
                <!-- Custom Label -->
                <nb-select-label>{{
                  formData.analyzers_requested
                }}</nb-select-label>
                <!-- Options Loop -->
                <nb-option
                  *ngFor="let ac of analyzersList[formData.classification]"
                  [value]="ac.name"
                  [disabled]="ac.disabled || !ac.verification.configured"
                >
                  <div>
                    <div>
                      <span>{{ ac?.name }}</span>
                      &nbsp;
                      <span [hidden]="!showDescriptionBool"
                        ><small>({{ ac.description }})</small></span
                      >
                    </div>
                    <div
                      class="text-danger small"
                      *ngIf="ac.disabled || !ac.verification.configured"
                    >
                      {{
                        ac.disabled ? 'disabled' : ac.verification.error_message
                      }}
                    </div>
                  </div>
                </nb-option>
              </nb-select>
              <ng-container *ngIf="!formData.analyzers_requested.length">
                <p class="caption status-info">
                  Default: all configured analyzers are triggered.
                </p>
              </ng-container>
            </div>
            <!-- /Analyzers select field -->

            <div class="form-group">
              <button
                nbButton
                [disabled]="!formData.analyzers_requested.length"
                (click)="editAnalyzerParams()"
                size="tiny"
                status="primary"
              >
                Customize Analyzers Parameters
              </button>
            </div>

            <!-- Connectors select field -->
            <div class="form-group">
              <label class="label form-control-label"
                >Select Connectors (Optional)</label
              >
              <nb-select
                *ngIf="connectorsList"
                fullWidth
                multiple
                [(selected)]="formData.connectors_requested"
                name="connectors"
                placeholder="Connectors To Request"
              >
                <!-- Custom Label -->
                <nb-select-label>{{
                  formData.connectors_requested
                }}</nb-select-label>
                <!-- Options Loop -->
                <nb-option
                  *ngFor="let cc of connectorsList"
                  [value]="cc.name"
                  [disabled]="cc.disabled || !cc.verification.configured"
                >
                  <div>
                    <div>
                      <span>{{ cc?.name }}</span>
                      &nbsp;
                      <span [hidden]="!showDescriptionBool"
                        ><small>({{ cc.description }})</small></span
                      >
                    </div>
                    <div
                      class="text-danger small"
                      *ngIf="cc.disabled || !cc.verification.configured"
                    >
                      {{
                        cc.disabled ? 'disabled' : cc.verification.error_message
                      }}
                    </div>
                  </div>
                </nb-option>
              </nb-select>
              <ng-container *ngIf="!formData.connectors_requested.length">
                <p class="caption status-info">
                  Default: all configured connectors are triggered.
                </p>
              </ng-container>
            </div>
            <!-- /Connectors select field -->

            <!-- Additional Fields -->
            <label class="label form-control-label">Extra configuration</label>
            <div class="form-group">
              <nb-radio-group
                [(ngModel)]="formData.check_existing_or_force"
                class="d-flex justify-content-between"
                name="check-existing-or-force-new"
              >
                <nb-radio
                  nbTooltip="analysis won't be repeated if already exists as running or reported without fails"
                  value="check_all"
                  >check existing analysis</nb-radio
                >
                <nb-radio
                  nbTooltip="analysis won't be repeated if already running"
                  value="running_only"
                  >check only running analysis</nb-radio
                >
                <nb-radio nbTooltip="force new analysis" value="force_new"
                  >force new analysis</nb-radio
                >
              </nb-radio-group>
            </div>

            <label class="label form-control-label">TLP configuration</label>
            <div class="form-group">
              <nb-radio-group
                [(ngModel)]="formData.tlp"
                class="d-flex justify-content-around"
                name="tlp"
              >
                <nb-radio
                  class="col-md-3"
                  nbTooltip="use all analyzers"
                  value="WHITE"
                  [ngStyle]="{ color: tlpColors.WHITE }"
                  ><span [ngStyle]="{ color: tlpColors.WHITE }"
                    >TLP:WHITE</span
                  ></nb-radio
                >
                <nb-radio
                  class="col-md-3"
                  nbTooltip="disable analyzers that could impact privacy"
                  value="GREEN"
                  ><span [ngStyle]="{ color: tlpColors.GREEN }"
                    >TLP:GREEN</span
                  ></nb-radio
                >
                <nb-radio
                  class="col-md-3"
                  nbTooltip="disable analyzers that could impact privacy and limit view permissions to my group"
                  value="AMBER"
                  ><span [ngStyle]="{ color: tlpColors.AMBER }"
                    >TLP:AMBER</span
                  ></nb-radio
                >
                <nb-radio
                  class="col-md-3"
                  nbTooltip="disable analyzers that could impact privacy, limit view permissions to my group and do not use any external service"
                  value="RED"
                  ><span [ngStyle]="{ color: tlpColors.RED }"
                    >TLP:RED</span
                  ></nb-radio
                >
              </nb-radio-group>
            </div>

            <!-- /Additional Fields -->

            <!-- ngx-tagger/ Tag Selection Popover -->
            <div class="form-group">
              <label class="label form-control-label"
                >Select Tags To Apply</label
              >
              <ngx-tagger
                (onOpen)="isBtnDisabled = true"
                (onClose)="formData.tags_id = $event; isBtnDisabled = false"
              ></ngx-tagger>
            </div>
            <!--/ ngx-tagger/ Tag Selection Popover -->
          </div>
        </div>
      </nb-card-body>
      <nb-card-footer>
        <button
          nbButton
          status="primary"
          class="col-md-3"
          type="submit"
          [nbSpinner]="showSpinnerBool"
          nbSpinnerStatus="primary"
          (click)="onScanSubmit()"
          [disabled]="!isFormValid()"
        >
          Start Scan
        </button>
      </nb-card-footer>

      <!-- /Form -->
    </nb-card>

    <!-- Form JSON Debug -->
    <nb-card *ngIf="formDebugBool">
      <nb-card-body class="json-background">
        <pre class="text-white">{{ formData | json }}</pre>
      </nb-card-body>
    </nb-card>
    <!-- /Form JSON Debug -->
  </div>
</ng-container>
