<nb-card>
  <nb-route-tabset
    [activeLinkOptions]="{ exact: false }"
    [fullWidth]="true"
    [tabs]="tabs"
  >
  </nb-route-tabset>
</nb-card>

<div>
  <h6>Recent Scans</h6>
  <div class="d-flex flex-wrap">
    <button
      nbButton
      class="m-2 p-2"
      *ngFor="
        let scan of scanService?.recentScans | keyvalue;
        trackBy: trackByFn
      "
      [status]="scan.value"
      [routerLink]="['/pages/scan/result/', scan.key]"
    >
      Job #{{ scan.key }}
    </button>
  </div>
</div>
