<nb-card>
  <nb-card-header class="d-flex align-items-center justify-content-between">
    {{ pieChartName }}
    <nb-icon
      class="cursor-pointer"
      nbTooltip="save as PNG"
      (click)="downloadPieChart()"
      icon="download-outline"
    >
    </nb-icon>
  </nb-card-header>
  <nb-card-body>
    <div
      (chartMouseDown)="onChartMouseDown($event)"
      echarts
      *ngIf="pieChartData !== undefined"
      [options]="options"
      style="min-height: 275px;"
    ></div>
  </nb-card-body>
</nb-card>
